<div id="bg-image"></div>
<div id="main-container"></div>

<div class="jumbotron">
  <h1 class="display-4">FAIRE UN DON</h1>
  <div class="lead">
    <h3><b>Vous souhaitez nous aider financièrement ?</b></h3>
    <p>Voici les étapes à suivre :<br /></p>
    <p STYLE="padding:0 0 0 40px;">
      -> Cliquez sur le bouton vert « + » sous l’onglet « Détails » et vous
      allez être renvoyé sur la page de l’article.
    </p>
    <p STYLE="padding:0 0 0 40px;">
      -> Ensuite, il vous suffit d’entrer le montant désiré et de suivre la
      procédure PayPal en cliquant sur le bouton jaune.
    </p>
    <p>
      Pour chaque article, les montants peuvent être changés et le surplus de
      votre don servira au paiement d’un autre article.
    </p>
  </div>
  <hr class="my-4" />
  <p>
    Vos dons sont fiscalement déductibles. De ce fait, vous acceptez de partager
    vos informations personnelles et vos coordonnées afin de nous permettre
    d’établir un reçu fiscal. L’association Stëmm vun der Strooss vous garantit
    que vos données à caractère personnel ne sont transmises à aucun tiers.
  </p>
  <p class="lead">
    <a
      class="btn btn-primary btn-lg"
      href="http://stemm.lu/protection-des-donnees-2/"
      role="button"
      >En apprendre plus</a
    >
  </p>
</div>

<div>
  <div class="progression">
    <p>
      <b>{{ donAll | number: "1.2-2" }}€</b> recoltés sur
      {{ prixAll | number: "1.2-2" }}€
    </p>
  </div>
  <div class="gauge">
    <div class="gauge__body">
      <div class="gauge__fill"></div>
      <div class="gauge__cover"></div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div
    class="btn-group flex-wrap"
    role="group"
    aria-label="Button group with nested dropdown"
  >
    <button
      type="button"
      class="btn btn-secondary"
      (click)="filtre = 'tout'; page = 1"
    >
      Tout
    </button>
    <button
      type="button"
      class="btn btn-secondary"
      (click)="filtre = 'cuisine'; page = 1"
    >
      cuisine
    </button>
    <button
      type="button"
      class="btn btn-secondary"
      (click)="filtre = 'isotherme'; page = 1"
    >
      chambre froide
    </button>
    <button
      type="button"
      class="btn btn-secondary"
      (click)="filtre = 'hotte'; page = 1"
    >
      hottes
    </button>
    <button
      type="button"
      class="btn btn-secondary"
      (click)="filtre = 'frigorifique'; page = 1"
    >
      froid alimentaire
    </button>
    <button
      type="button"
      class="btn btn-secondary"
      (click)="filtre = 'locaux'; page = 1"
    >
      locaux commun
    </button>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th (click)="sort('titre')">Titre&nbsp;<i class="fa fa-sort"></i> ↕</th>
        <th (click)="sort('categorie')">
          Catégorie&nbsp;<i class="fa fa-sort"></i>
        </th>
        <th (click)="sort('prix')">
          Prix TTC/unité&nbsp;<i class="fa fa-sort"> ↕</i>
        </th>
        <th (click)="sort('quantite')">
          Quantité&nbsp;<i class="fa fa-sort"> ↕</i>
        </th>
        <th (click)="sort('prixTotal')">
          Prix total&nbsp;<i class="fa fa-sort"> ↕</i>
        </th>
        <th (click)="sort('don')">
          Argent récolté&nbsp;<i class="fa fa-sort"> ↕</i>
        </th>
        <th>Détails</th>
      </tr>
    </thead>

    <tbody *ngIf="filtre === 'tout'">
      <tr
        *ngFor="
          let listes of liste
            | orderBy: key:reverse
            | paginate: { itemsPerPage: 10, currentPage: page };
          index as i
        "
      >
        <td>{{ listes.titre }}</td>
        <td>{{ listes.categorie }}</td>
        <td>{{ listes.prix | number: "1.2-2" }} €</td>
        <td>{{ listes.quantite }}</td>
        <td>{{ listes.prixTotal | number: "1.2-2" }} €</td>
        <td>{{ listes.don | number: "1.2-2" }} €</td>
        <td>
          <button
            class="btn btn-success"
            routerLink="articles/{{ listes.id }}"
            skipLocationChange
          >
            +
          </button>
        </td>
      </tr>
    </tbody>

    <tbody *ngIf="filtre === 'cuisine'">
      <tr
        *ngFor="
          let listes of cuisine
            | orderBy: key:reverse
            | paginate: { itemsPerPage: 10, currentPage: page };
          index as i
        "
      >
        <td *ngIf="listes.don <= listes.prixTotal && listes.catId == 1">
          {{ listes.titre }}
        </td>
        <td *ngIf="listes.don <= listes.prixTotal && listes.catId == 1">
          {{ listes.categorie }}
        </td>
        <td *ngIf="listes.don <= listes.prixTotal && listes.catId == 1">
          {{ listes.prix | number: "1.2-2" }} €
        </td>
        <td *ngIf="listes.don <= listes.prixTotal && listes.catId == 1">
          {{ listes.quantite }}
        </td>
        <td *ngIf="listes.don <= listes.prixTotal && listes.catId == 1">
          {{ listes.prixTotal | number: "1.2-2" }} €
        </td>
        <td>{{ listes.don | number: "1.2-2" }} €</td>
        <td>
          <button class="btn btn-success" routerLink="articles/{{ listes.id }}">
            +
          </button>
        </td>
      </tr>
    </tbody>

    <tbody *ngIf="filtre === 'isotherme'">
      <tr
        *ngFor="
          let listes of isotherme
            | paginate: { itemsPerPage: 10, currentPage: page };
          index as i
        "
      >
        <td *ngIf="listes.don <= listes.prixTotal && listes.catId == 2">
          {{ listes.titre }}
        </td>
        <td *ngIf="listes.don <= listes.prixTotal && listes.catId == 2">
          {{ listes.categorie }}
        </td>
        <td *ngIf="listes.don <= listes.prixTotal && listes.catId == 2">
          {{ listes.prix | number: "1.2-2" }} €
        </td>
        <td *ngIf="listes.don <= listes.prixTotal && listes.catId == 2">
          {{ listes.quantite }}
        </td>
        <td *ngIf="listes.don <= listes.prixTotal && listes.catId == 2">
          {{ listes.prixTotal | number: "1.2-2" }} €
        </td>
        <td *ngIf="listes.don <= listes.prixTotal && listes.catId == 2">
          {{ listes.don | number: "1.2-2" }} €
        </td>
        <td *ngIf="listes.don <= listes.prixTotal && listes.catId == 2">
          <button class="btn btn-success" routerLink="articles/{{ listes.id }}">
            +
          </button>
        </td>
      </tr>
    </tbody>

    <tbody *ngIf="filtre === 'hotte'">
      <tr
        *ngFor="
          let listes of hotte
            | paginate: { itemsPerPage: 10, currentPage: page };
          index as i
        "
      >
        <td *ngIf="listes.don <= listes.prixTotal && listes.catId == 3">
          {{ listes.titre }}
        </td>
        <td *ngIf="listes.don <= listes.prixTotal && listes.catId == 3">
          {{ listes.categorie }}
        </td>
        <td *ngIf="listes.don <= listes.prixTotal && listes.catId == 3">
          {{ listes.prix | number: "1.2-2" }} €
        </td>
        <td *ngIf="listes.don <= listes.prixTotal && listes.catId == 3">
          {{ listes.quantite }}
        </td>
        <td *ngIf="listes.don <= listes.prixTotal && listes.catId == 3">
          {{ listes.prixTotal | number: "1.2-2" }} €
        </td>
        <td *ngIf="listes.don <= listes.prixTotal && listes.catId == 3">
          {{ listes.don | number: "1.2-2" }} €
        </td>
        <td *ngIf="listes.don <= listes.prixTotal && listes.catId == 3">
          <button class="btn btn-success" routerLink="articles/{{ listes.id }}">
            +s
          </button>
        </td>
      </tr>
    </tbody>

    <tbody *ngIf="filtre === 'frigorifique'">
      <tr
        *ngFor="
          let listes of frigorifique
            | paginate: { itemsPerPage: 10, currentPage: page };
          index as i
        "
      >
        <td *ngIf="listes.don <= listes.prixTotal && listes.catId == 4">
          {{ listes.titre }}
        </td>
        <td *ngIf="listes.don <= listes.prixTotal && listes.catId == 4">
          {{ listes.categorie }}
        </td>
        <td *ngIf="listes.don <= listes.prixTotal && listes.catId == 4">
          {{ listes.prix | number: "1.2-2" }} €
        </td>
        <td *ngIf="listes.don <= listes.prixTotal && listes.catId == 4">
          {{ listes.quantite }}
        </td>
        <td *ngIf="listes.don <= listes.prixTotal && listes.catId == 4">
          {{ listes.prixTotal | number: "1.2-2" }} €
        </td>
        <td *ngIf="listes.don <= listes.prixTotal && listes.catId == 4">
          {{ listes.don | number: "1.2-2" }} €
        </td>
        <td *ngIf="listes.don <= listes.prixTotal && listes.catId == 4">
          <button class="btn btn-success" routerLink="articles/{{ listes.id }}">
            +
          </button>
        </td>
      </tr>
    </tbody>

    <tbody *ngIf="filtre === 'locaux'">
      <tr
        *ngFor="
          let listes of locaux
            | paginate: { itemsPerPage: 10, currentPage: page };
          index as i
        "
      >
        <td *ngIf="listes.don <= listes.prixTotal && listes.catId == 5">
          {{ listes.titre }}
        </td>
        <td *ngIf="listes.don <= listes.prixTotal && listes.catId == 5">
          {{ listes.categorie }}
        </td>
        <td *ngIf="listes.don <= listes.prixTotal && listes.catId == 5">
          {{ listes.prix | number: "1.2-2" }} €
        </td>
        <td *ngIf="listes.don <= listes.prixTotal && listes.catId == 5">
          {{ listes.quantite }}
        </td>
        <td *ngIf="listes.don <= listes.prixTotal && listes.catId == 5">
          {{ listes.prixTotal | number: "1.2-2" }} €
        </td>
        <td *ngIf="listes.don <= listes.prixTotal && listes.catId == 5">
          {{ listes.don | number: "1.2-2" }} €
        </td>
        <td *ngIf="listes.don <= listes.prixTotal && listes.catId == 5">
          <button class="btn btn-success" routerLink="articles/{{ listes.id }}">
            +
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<pagination-controls (pageChange)="page = $event"> </pagination-controls>
